<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>

<main>

    <table>
        <thead>
        <tr>
            <th class="center-column">ID</th>
            <th class="center-column">ID pojištěnce</th>
            <th class="center-column">Číslo pojistky</th>
            <th class="center-column">Platná od</th>
            <th class="center-column">Platná do</th>
            <th class="center-column">Splátka pojistného</th>
            <th class="center-column">Detail</th>
            <% if (user === 'Gandalf') { %>
                <th class="center-column">Smazat</th>
            <% } %>
        </tr>
        </thead>
        <tbody>
        <% if (insurances.length > 0) { %>
            <% insurances.forEach((insurance) => { %>

                <tr class="content-row">
                    <td class="center-column"><%= insurance.id %></td>
                    <td class="center-column"><%= insurance.insured_id %></td>
                    <td><%= insurance.policy_number %></td>
                    <td><%= insurance.start_date %></td>
                    <td><%= insurance.end_date %></td>
                    <td class="right-column"><%= insurance.premium_amount %></td>
                    <td class="center-column detail">
                        <a href="/insurances/<%= insurance.id %>">
                            <img class="detail-icon" src="/image/detail.png" alt="detail icon">
                        </a>
                    </td>
                    <% if (user === 'Gandalf') { %>
                        <td class="center-column detail">
                            <a id="delete-btn" data-del="<%= insurance.id %>" onclick="deleteInsurance(event)">
                                <img class="detail-icon" src="/image/trash.png" alt="detail icon">
                            </a>
                        </td>
                    <% } %>
                </tr>

            <% }); %>
        <% } else { %>
            <p>Nejsou k dispozici žádná data.</p>
        <% } %>
        </tbody>
    </table>
</main>

<%- include('../partials/footer.ejs') %>